@use '../../../variables';

#timeline {
  position: absolute;
  left: 0;
  top: 0;
  width: 40%;
  height: calc(100vh - #{variables.$footer-height});
  background-color: #0b2e13;
  color: white;
  padding: 2em;
  transition: transform 0.3s ease-in-out;
}

#timeline-close-btn {
  color: white;
  float: right;
}

#marker_location_text {
  text-align: center;
  font-weight: bolder;
  padding: 1em;
  margin-top: 1em;
  background-color: #005cbf;
  border: 0.5em;
}
