@use '../../variables';

$footer-item-padding: 0.5em;

footer {
  position: relative;
  background-color: variables.$accent-color;
  width: 100%;
  height: variables.$footer-height;
  margin: 0;
  padding: 0;
  color: variables.$accent-white;
}

.horizontal-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;

  li {
    display: inline-block;
    padding: $footer-item-padding;

    a {
      text-decoration: none;
      color: variables.$accent-white;
    }

    a:hover {
      font-weight: bolder;
    }
  }
}

#logo-text {
  padding: $footer-item-padding;
  display: inline-block;
}

