@use '../../../variables';

#container {
  height: calc(100vh - #{variables.$footer-height});
  width: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

#light-dark-toggle-btns {
  z-index: 1000;
  position: absolute;
  right: 0;
  bottom: 6em;
}
