// Color scheme colors
$accent-color: #c03221;
$accent-dark: #691a12;
$accent-light: #e46f62;
$accent-white: #f7f7f8;
$accent-darker: #3b3b3b;

// Header & footer heights:
$footer-height: 3em;
$header-height: 5em;
